/* src/index.css */

body {
  margin: 0;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
  height: 40px;
  border-radius: 5%;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  background: black;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  /* margin-bottom: 15px; */
  padding: 5px;
}

nav li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.ProjectCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.EditProjectPage,
.AddProject,
.AddTask,
.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.EditProjectPage {
  background-color: rgb(239, 196, 88);
}

.SignupPage,
.LoginPage {
  background-color: #608dd5;
}

.LoginPage {
  background-color: #94a7c8;
}

.EditProjectPage form,
.AddTask form,
.AddProject form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddTask button,
.AddProject button {
  display: block;
}

.TaskCard {
  background-color: #dfeef9;
}
.Navbar {
  padding: 5px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-img-wrapper {
  width: 50px;
}

.profile-img {
  width: 35px;
  border-radius: 35px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.3);
}

/*_SignUp_________________________________*/
.signup-user {
  display: flex;
}

.signup-user-left-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5rem 6rem 5rem 6rem;
}

.signup-user-left-container h2 {
  color: rgb(142, 179, 247);
  font-size: 4rem;
  width: 25vw;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  padding-bottom: 2rem;
  line-height: 3.7rem;
}

.signup-user-form {
  display: flex;
  flex-direction: column;
}

.signup-user-input {
  width: 100%;
  border-radius: 0.3rem;
  border-style: solid;
  border: 1px solid #a8a3eb;
}

.signup-user-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup-user-box label {
  color: white;
}

.signup-user-toggle {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.signup-user-toggle .toggle {
  color: darkgrey;
  font-size: 1.5rem;
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

.signup-user-buttons {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 3.5rem;
  justify-content: space-between;
}

.signup-user-buttons button {
  border-radius: 5%;
  width: 10rem;
}

.signup-user-buttons .signup-provider {
  margin-right: 5rem;
}

.signup-user-right-container {
  width: 100%;
  min-height: 100%;
  background-image: url("./background-blue.png");
  background-position: 25% 100%;
  background-size: cover;
}

.r-store-h2 {
  width: 15rem;
}

.r-store {
  background-color: black;
}

.r-store-buttons {
  padding-top: 2rem;
}

.signup-user-picture {
  background-color: #a8a3eb;
}
