/* src/index.css */

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Nanum+Myeongjo&display=swap");

body {
  margin: 0;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
  height: 40px;
  border-radius: 5%;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  background: black;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  /* margin-bottom: 15px; */
  padding: 5px;
}

nav li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.ProjectCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.EditProjectPage,
.AddProject,
.AddTask,
.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.EditProjectPage {
  background-color: rgb(239, 196, 88);
}

.SignupPage,
.LoginPage {
  background-color: #608dd5;
}

.LoginPage {
  background-color: #94a7c8;
}

.EditProjectPage form,
.AddTask form,
.AddProject form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddTask button,
.AddProject button {
  display: block;
}

.TaskCard {
  background-color: #dfeef9;
}
.Navbar {
  padding: 5px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-img-wrapper {
  width: 50px;
}

.profile-img {
  width: 35px;
  border-radius: 35px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.3);
}

/*_SignUp_________________________________*/
.signup-user {
  display: flex;
}

.signup-user-left-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5rem 6rem 5rem 6rem;
}

.signup-user-left-container h2 {
  color: rgb(142, 179, 247);
  font-size: 4rem;
  width: 25vw;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  padding-bottom: 2rem;
  line-height: 3.7rem;
}

.signup-user-form,
.silogingnup-user-form {
  display: flex;
  flex-direction: column;
}

.signup-user-input,
.login-user-input {
  width: 100%;
  border-radius: 0.3rem;
  border-style: solid;
  border: 1px solid #85c7ec;
}

.signup-user-box,
.login-user-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup-user-box label,
.login-user-box label {
  color: white;
}

.signup-user-toggle {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.signup-user-toggle .toggle {
  color: darkgrey;
  font-size: 1.5rem;
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

.signup-user-buttons {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 3.5rem;
  justify-content: space-between;
}

.signup-user-buttons button {
  border-radius: 5%;
  width: 10rem;
}

.signup-user-buttons .signup-provider {
  margin-right: 5rem;
}

.signup-user-right-container {
  width: 100%;
  min-height: 100%;
  background-image: url("./background-blue.png");
  background-position: 25% 100%;
  background-size: cover;
}

.r-store-h2 {
  width: 15rem;
}

.r-store {
  background-color: black;
}

.r-store-buttons {
  padding-top: 2rem;
}

.signup-user-picture {
  background-color: #85c7ec;
}

.edit-user {
  width: 80%;
}

.edit-user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-user-box label {
  color: white;
}

.edit-user-form {
  display: flex;
  flex-direction: column;
}

.edit-user-input {
  width: 80%;
  border-radius: 0.3rem;
  border-style: solid;
  border: 1px solid #85c7ec;
}

.edit-user-picture {
  background-color: #85c7ec;
}

.r-edit {
  margin-left: 30%;
}

.h1-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-top: 0;
  padding-top: 5%;
}

.regular-bg {
  width: 100%;
  min-height: 100%;
  background-image: url("./background-blue.png");
  background-position: 100%;
  background-size: cover;
}

.login-user-left-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5rem 6rem 5rem 6rem;
  margin-left: 40%;
  background-color: black;
  height: 100%;
}

.login-user-right-container {
  width: 100%;
  min-height: 100%;
  background-image: url("./background-blue.png");
  background-position: 30% 100%;
  background-size: cover;
}

.login-user-left-container h2 {
  color: rgb(142, 179, 247);
  font-size: 3rem;
  width: 30%;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  padding-bottom: 2rem;
  line-height: 3.7rem;
}

.login-user-left-container p,
.login-user-left-container a {
  color: white;
}

.title-home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0%;
}

.title-home h1 {
  font-family: "Baloo Bhaijaan 2", cursive;
  padding-top: 6%;
  margin: 1%;
  /* padding-bottom: 2%; */
  font-size: 10vw;
}

.title-home h2 {
  font-family: "Nanum Myeongjo", serif;
  padding-bottom: 2%;
}

.title-home h3 {
  padding-bottom: 50%;
}
.row1-text {
  padding-bottom: 40%;
}

.top-profile {
  padding-top: 10%;
}
